@import "@/app/style/default.scss";

.user-list {
    display: grid;
    grid-template-columns: auto;
    column-gap: 24px;
    row-gap: 24px;

    @include media-query(md) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include media-query(lg) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}