@import "@/app/style/default.scss";


// Global reset
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Links styling
a {
    color: inherit;
    text-decoration: none;
}

// Body styling
body {
    background-color: #f0f4fd;
    max-width: 100vw;
    overflow-x: hidden;
}

// global error

.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.error-content {
    text-align: center;
}

.error-heading {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.error-button {
    width: 100%;
    border-radius: 4px;
    display: block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #0056b3;
    }
}

/* NotFound */

.not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.not-found-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px
}

.not-found-heading {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.not-found-link {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #0056b3;
    }
}


// Main application container
.application {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
}

// Wrapper for content
.container {
    position: relative;
    margin: 0 auto;
    padding: 1rem;
    width: 100%;

    @include media-query(sm) {
        max-width: $col-sm;
    }

    @include media-query(md) {
        max-width: $col-md;
    }

    @include media-query(lg) {
        max-width: $col-lg;
    }

    @include media-query(xl) {
        max-width: $col-xl;
    }
}